#canvas-container {
    position: relative;
    width: 720px;
    height: 480px;
}

#button1 {
    top: 10px;
    left: 10px;
};
.button {
    position: absolute;
    padding: 10px 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
};



#button2 {
    top: 10px;
    left: 100px;
};


.d-block {
    display: block !important;
}

.d-none {
    display: none;
}